@import 'antd/dist/antd.css';

.logo {
  color: #fff;
  font-size: large;
  font-weight: bold;
  text-align: center;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider{
  height: 100vh;
}

.ant-layout-content{
  background-color: #fdfdfd !important;
  height: calc(100vh - 72px);
}


.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    to top,
    rgba(253, 253, 253, 0.3) 0%,
    rgba(193, 218, 255, 0.3) 100%
  );
  overflow: hidden;
}
.banner .banner-page {
  height: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  will-change: transform;
}
.banner-title {
  font-size: 48px;
  line-height: 1.5;
  color: #5f9bf1;
  margin-bottom: 8px;
}
.banner-title-wrapper {
  width: 40%;
  max-width: 450px;
  position: relative;
  top: 30%;
  left: 24px;
  font-family: pingfang sc, -apple-system, BlinkMacSystemFont, segoe ui,
    hiragino sans gb, microsoft yahei, helvetica neue, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}
.banner-explain {
  color: #333;
  font-size: 24px;
  margin-bottom: 24px;
}
.banner-content {
  font-size: 18px;
  color: #666;
  margin-bottom: 48px;
}
.banner-button-wrapper .banner-button {
  background-image: linear-gradient(to right bottom, #82b5ff 0%, #3c89f6 0%);
  box-shadow: 0 8px 24px rgba(95, 155, 241, 0.35);
  border-radius: 20px;
  border: none;
  padding: 0 42px;
  line-height: 40px;
  height: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.banner-button-wrapper .banner-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 13px 24px rgba(95, 155, 241, 0.45);
  background-image: linear-gradient(to right bottom, #82b5ff 0%, #3c89f6 0%);
}
.banner-image {
  overflow: hidden;
  width: 55%;
  max-width: 710px;
  position: absolute;
  top: 5%;
  right: 24px;
}

/* Wallet Address */

.walletAddress{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 2px 10px 2px 5px;
  width: 150px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background-color: rgb(65 68 73) !important;
  transition: all 0.12s ease-in-out 0s;
  cursor: pointer;
  font-weight: bolder;
}

.walletAddress span{
  font-family: inherit;
  font-weight: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  vertical-align: inherit;
  color: #fff !important;
}


.content-container{
  background-color: #ececec;
  padding: 20px;
}

/* //LOADER STYLES */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #fdfdfd !important;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-wrapper.loader {
  height: 200px;
  width: 200px;
}

.loader-wrapper.is-active {
  opacity: 0.8;
  z-index: 9999999;
}
.is-loading {
  position: relative;
}

.profile-wrapper{
  text-align: center !important;
}

.profile-wrapper .profile-header .h-avatar{
  margin: 0 auto 12px auto;
}

.h-avatar.is-xl {
  max-width: 100px;
  min-width: 100px;
}
.h-avatar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.profile-wrapper .profile-header .title {
  margin-bottom: 6px;
}
.title.is-4 {
  font-size: 1.5rem;
}

.h-avatar.is-xl .avatar {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.h-avatar img {
  display: block;
  border-radius: 50%;
}

.profile-wrapper .profile-header .profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0;
}
.profile-wrapper .profile-header .profile-stats .separator {
  height: 25px;
  width: 2px;
  border-right: 1px solid #dedede;
  margin: 0 10px;
}